<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyt.qytbackend.mapper.CustomerInfoMapper">
    <!-- 结果映射 -->
    <resultMap id="CustomerInfoResultMap" type="CustomerInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="register_time" property="registerTime" jdbcType="TIMESTAMP" />
        <result column="login_status" property="loginStatus" jdbcType="TINYINT" />
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="member_level" property="memberLevel" jdbcType="INTEGER" />
        <result column="create_pin" property="createPin" jdbcType="VARCHAR" />
        <result column="update_pin" property="updatePin" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    </resultMap>

    <!-- 插入语句 -->
    <insert id="insert" parameterType="CustomerInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer_info (
            username,
            password,
            phone,
            email,
            real_name,
            id_card,
            avatar,
            register_time,
            login_status,
            last_login_time,
            status,
            member_level,
            create_pin,
            create_time,
            update_pin,
            update_time,
            is_delete
        ) VALUES (
            #{username,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR},
            #{realName,jdbcType=VARCHAR},
            #{idCard,jdbcType=VARCHAR},
            #{avatar,jdbcType=VARCHAR},
            #{registerTime,jdbcType=TIMESTAMP},
            #{loginStatus,jdbcType=TINYINT},
            #{lastLoginTime,jdbcType=TIMESTAMP},
            #{status,jdbcType=TINYINT},
            #{memberLevel,jdbcType=INTEGER},
            #{createPin,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updatePin,jdbcType=VARCHAR},
            #{updateTime,jdbcType=TIMESTAMP},
            #{isDelete,jdbcType=TINYINT}
        )
    </insert>

    <!-- 删除语句（逻辑删除） -->
    <update id="deleteById" parameterType="java.lang.Integer">
        UPDATE customer_info SET is_delete = 1 WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 更新语句 -->
    <update id="update" parameterType="CustomerInfo">
        UPDATE customer_info
        <set>
            <if test="username != null">username = #{username,jdbcType=VARCHAR},</if>
            <if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
            <if test="phone != null">phone = #{phone,jdbcType=VARCHAR},</if>
            <if test="email != null">email = #{email,jdbcType=VARCHAR},</if>
            <if test="realName != null">real_name = #{realName,jdbcType=VARCHAR},</if>
            <if test="idCard != null">id_card = #{idCard,jdbcType=VARCHAR},</if>
            <if test="avatar != null">avatar = #{avatar,jdbcType=VARCHAR},</if>
            <if test="registerTime != null">register_time = #{registerTime,jdbcType=TIMESTAMP},</if>
            <if test="loginStatus != null">login_status = #{loginStatus,jdbcType=TINYINT},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},</if>
            <if test="status != null">status = #{status,jdbcType=TINYINT},</if>
            <if test="memberLevel != null">member_level = #{memberLevel,jdbcType=INTEGER},</if>
            <if test="createPin != null">create_pin = #{createPin,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updatePin != null">update_pin = #{updatePin,jdbcType=VARCHAR},</if>
            <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
            <if test="isDelete != null">is_delete = #{isDelete,jdbcType=TINYINT},</if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据ID查询 -->
    <select id="selectById" parameterType="java.lang.Integer" resultMap="CustomerInfoResultMap">
        SELECT * FROM customer_info WHERE id = #{id,jdbcType=INTEGER} AND is_delete = 0
    </select>

    <!-- 查询所有（排除已删除数据） -->
    <select id="selectAll" resultMap="CustomerInfoResultMap">
        SELECT * FROM customer_info WHERE is_delete = 0
    </select>

    <!-- 根据用户名查询 -->
    <select id="selectByUsername" parameterType="java.lang.String" resultMap="CustomerInfoResultMap">
        SELECT * FROM customer_info WHERE username = #{username,jdbcType=VARCHAR} AND is_delete = 0
    </select>

    <!-- 根据手机号查询 -->
    <select id="selectByPhone" parameterType="java.lang.String" resultMap="CustomerInfoResultMap">
        SELECT * FROM customer_info WHERE phone = #{phone,jdbcType=VARCHAR} AND is_delete = 0
    </select>

    <!-- 根据邮箱查询 -->
    <select id="selectByEmail" parameterType="java.lang.String" resultMap="CustomerInfoResultMap">
        SELECT * FROM customer_info WHERE email = #{email,jdbcType=VARCHAR} AND is_delete = 0
    </select>
</mapper>
